*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
}
.buttons{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

p{
    margin-top: 20px;
}

.buttons button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.buttons .prank {
    background-color: red;
}

.buttons .fix {
    background-color: green;
}
.buttons .info {
    background-color: green;
}
.buttons .overlimit {
    background-color: rgb(110, 3, 3);
}

.chart{
    height: 95%;
}

.toggle {
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    margin-top: 10px;

    display: inline-block;
    cursor: pointer;
}

.toggle__input {
    display: none;
}

.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.2s;
}

.toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
    background: #009578;
}

.toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
}